#log-sign{
  position:absolute;
 left:-480px;

}
#signup1{
  position:relative;
  margin-right:130px;
}

#signup1 .Navdropdown-menu {
  position: absolute;
  right: 0;
 
}
#signup1 .dropdown-menu {
  position: absolute;

}

#login1 .dropdown-menu {
  position: absolute;
  left: 0;
}
#signf, #signs, #logf, #logs {
  white-space: nowrap;
  display: block;
  width: 100%;
 
}

.dropdown-menu.show {
  display: block;
}

#signup1.show .dropdown-menu {
 color:black;
  right: 0;
  left: auto;
}

#login1.show .dropdown-menu {

  left: 0;
  right: auto;
}


div.dropdown-menu.show{
  margin-left:-120px;
  margin-bottom:10px;

}
#login1.show .dropdown-menu {
  background-color: yellow !important;
}
.page{
  background-image: url("https://wallpapercave.com/wp/wp6571984.jpg");
  height:900px;
}
#hd{
  margin-top:20px;
  padding-top: 2px;
 text-align: center;
 border:1px solid black;
 border-radius: 6px;
 width:600px;
 height:auto;
 margin-left:70px;
 align-content: center;
}
#hd h1 {
  background-color: aquamarine;
  border-radius: 5px;
  font-size: 3rem;
  text-align: center;
  color: #343a40;
}
#hd p{
 
  font-size: 25px;
 color: aliceblue;
}
#logoh{
  position:absolute;
  width:auto;
  height:auto;
 margin-left:800px;
 margin-top:-400px;
}
#navhome{
  background-color:white;
}
