#t {
  padding-top: 50px;
  margin: 0 auto;
  background-color:aqua;
  width: 90%;
  border-collapse: collapse;
  border:solid 2px rgba(0, 0, 0, 0.807);
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.1);
}

#th {
  background-color: #f2f2f2;
  font-weight: bold;
  font-size: 20px;
  border:solid 1px rgba(0, 0, 0, 0.807);
  height:70px;
  padding:120px;
}

#th:first-child,
#th:nth-child(2) {
  width: 100px;
  border:solid 1px rgba(0, 0, 0, 0.807);
}

#thr {
  border-bottom: 2px solid #ddd;
  border:solid 1px rgba(0, 0, 0, 0.807);
}

#tb tr:nth-child(even) {
  background-color: lightgreen;
  border:solid 1px rgba(0, 0, 0, 0.807);
}

#tb td,
#tb th {
  padding: 12px 15px;
  text-align: left;
  border:solid 1px rgba(0, 0, 0, 0.807);
}
#mid {
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px; /* added margin */
}

#mid span {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#m1, #m2 {
  background-color: grey;
  outline: none;
  border-radius: 5px;
  width: 100px;
  height: 50px;
}







