#tm1{
    background-color: aqua;
    margin-left:85px;
    width:90%;
}
#hm1{
    height:50px;
    padding-right: 100px;
    font-size: 25px;
    text-align: center;
}
#bm1{
    height:auto;
}
#brm1{
    height:auto;
}